@model Akalaat.ViewModels.ForgetPasswordVM

@{
    Layout = "_Layout";
}



@if (Model.EmailSent)
{
    <div class="alert alert-success">
        <p> Email has been sent to @Model.Email. Please check your inbox.</p>
    </div>
}
else
{
    <p>Forget Your Password.Dont Worry</p>
    <p class="text-success">Please Enter Your Email</p>

    <form method="post">
        <div class="form-group">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
@section Scripts {
     @{
         await Html.RenderPartialAsync("_ValidationScriptsPartial");
     }
 }