@model Akalaat.ViewModels.RegisterViewModel;
@{
    ViewData["Title"] = "Register";
    var tempRole = ViewBag.Role;
    Layout = null;
}
<!-- Favicon -->
<link rel="mask-icon" href="~/assets/images/icons/safari-pinned-tab.svg" color="#666666">
<link rel="shortcut icon" href="~/assets/images/icons/favicon.ico">
<link rel="stylesheet" href="~/assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">
<!-- Plugins CSS File -->
<link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
<link rel="stylesheet" href="~/assets/css/plugins/owl-carousel/owl.carousel.css">
<link rel="stylesheet" href="~/css/plugins/magnific-popup/magnific-popup.css">
<link rel="stylesheet" href="~/assets/css/plugins/jquery.countdown.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
      crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

<!-- Main CSS File -->
<link rel="stylesheet" href="~/assets/css/style.css">
<link rel="stylesheet" href="~/assets/css/skins/skin-demo-9.css">
<link rel="stylesheet" href="~/assets/css/demos/demo-9.css">
<!--Main MVC and mapping css-->
<link href="~/lib/leaflet/leaflet.min.css" rel="stylesheet" />
<link href="~/lib/leaflet/leaflet.css" rel="stylesheet" />
<hr />
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-action="Register" asp-route-Role="@tempRole">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label">Username</label>  
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" type="text" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" type="password" />  
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                
                <div class="form-group">
                    <input type="submit" value="Register As @tempRole" class="btn btn-primary" />
                </div>
            </form>
            @if(tempRole =="Customer")
            {
                <div class="row">
                    <div class="col-sm-8">
                        <a asp-action="ExternalLogin" asp-route-provider="Microsoft" class="btn btn-login  btn-f">
                            <img width="30" height="30" src="https://img.icons8.com/color/48/microsoft.png" alt="microsoft" />
                            Login With Microsoft
                        </a>
                    </div><!-- End .col-6 -->
                </div>
            }
           
        </div>
    </div>
</div>

<!-- Mapping and main mvc JS-->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/lib/leaflet/leaflet.js"></script>
<script src="~/lib/leaflet/leaflet.min.js"></script>

<!-- Plugins JS File -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/bootstrap.bundle.min.js"></script>
<script src="~/assets/js/jquery.hoverIntent.min.js"></script>
<script src="~/assets/js/jquery.waypoints.min.js"></script>
<script src="~/assets/js/superfish.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<script src="~/assets/js/bootstrap-input-spinner.js"></script>
<script src="~/assets/js/jquery.plugin.min.js"></script>
<script src="~/assets/js/jquery.magnific-popup.min.js"></script>
<script src="~/assets/js/jquery.countdown.min.js"></script>
<!-- Main JS File -->
<script src="~/assets/js/main.js"></script>
<script src="~/assets/js/demos/demo-9.js"></script>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
